@model AutoDealer.Models.Personas

@{
    ViewBag.Title = "AutoDealer - Crear Persona";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="col-md-12">
        <div class="widget wlightblue">
            <div class="widget-head">
                <div class="pull-left">Crear Persona</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <div class="padd">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Apellido)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Apellido)
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Telefono)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Telefono)
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Direccion)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Direccion)
                        @Html.ValidationMessageFor(model => model.Direccion)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Celular)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Celular)
                        @Html.ValidationMessageFor(model => model.Celular)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <br>
                    <input type="submit" value="Crear" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a lista completa", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}