@model AutoDealer.Models.Personas
@{
    ViewBag.Title = "AutoDealer - Editar Persona";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="col-md-12">
        <div class="widget wviolet">
            <div class="widget-head">
                <div class="pull-left">Editar Persona</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <div class="padd">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Apellido)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Apellido)
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Telefono)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Telefono)
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Direccion)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Direccion)
                        @Html.ValidationMessageFor(model => model.Direccion)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Celular)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Celular)
                        @Html.ValidationMessageFor(model => model.Celular)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>


                    <div class="editor-label">
                        <label for="Rol">Rol</label>
                    </div>
                    <div class="btn-group">
                        <select id="Roles" name="Roles" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            @{
                              var Rol = @AutoDealer.Models.PersonasRoles.ConseguirRolDePersona(Model.Id);
                            }
                            @foreach (var item in AutoDealer.Models.TiposRoles.GetTiposRoles())
                            {
                                if (item.Id==Rol.Rol)
                                {
                                    <option value="@item.Id" selected="selected">@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Nombre</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="editor-label">
                        @Html.Label("Tasa de comision")
                    </div>
                    <div class="editor-label">


                        @if (Rol != null)
                        {
                            string Comision = AutoDealer.Models.PersonasRoles.GetComision(Rol.Id);
                            <input type="text" name="TasaComision" value="@Comision" />
                        }
                        else
                        {
                            <input type="text" name="TasaComision" value="" />
                        }
                    </div>
                    <br />
                    <p>
                        <input type="submit" value="Guardar" class="btn btn-info" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver a lista completa", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}