@model IEnumerable<AutoDealer.Models.Personas>


@{
    ViewBag.Title = "AutoDealer - Personas";
}


<div class="row">
    <div class="col-lg-1">
        <a class="btn btn-info" href="/Persona/Create">Crear Persona</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Index", "persona", FormMethod.Get, "Buscar"))
        {
            
        <div class="col-lg-1">
                <select id="TipoRol" name="TipoRol" class="TipoRol">
                    <option value=""></option>
                    <option value="0">Todos</option>
                    @foreach (var item in AutoDealer.Models.TiposRoles.GetTiposRoles())
                    {
                        if (Request.RawUrl.Contains("TipoRol="+item.Id))
                        {
                           <option value="@item.Id" selected="selected">@item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                        
                    }
                </select>
            
        </div>
            <div class="col-lg-11">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Buscar" id="Buscar" name="Buscar">
                </div>
            </div>
            
        }
    </div>
</div>

<div class="col-md-12">
    <div class="widget wviolet">
        <div class="widget-head">
            <div class="pull-left">Personas</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Celular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                Rol
                            </th>
                            <th>
                                Comision
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Nombre + " " + item.Apellido, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                    @{
                                       var Rol = AutoDealer.Models.PersonasRoles.ConseguirRolDePersona(@item.Id);
                                      }
                                    @if (Rol!=null)
                                    {
                                        string NombreRol = AutoDealer.Models.TiposRoles.ConseguirNombreRol(Rol.Rol).ToString();
                                        @NombreRol
                                    }
                                </td>
                                <td>
                                    @if (Rol!=null)
                                    {
                                        string Comision = AutoDealer.Models.PersonasRoles.GetComision(Rol.Id); 
                                        @Comision
                                    }
                                    
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="Persona/Edit/@item.Id" class="btn btn-sm btn-default"><i class="icon-pencil"></i></a>
                                        <a href="Persona/Delete/@item.Id" class="btn btn-sm btn-default"><i class="icon-remove"></i> </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!--Responsive-->
        </div><!--Content-->
    </div><!--Widget-->
</div><!--Col12-->
@section scripts
    {
    <script type="text/javascript">

        $(".TipoRol").change(function () {
            var str = "";
            $("select").each(function () {
                str += $(this).val() + " ";
                window.location.replace("/Persona?Buscar=&TipoRol="+str);
            });
        });
    </script>
}
