@model IEnumerable<AutoDealer.Models.Vendedores>

@{
    ViewBag.Title = "AutoDealer - Vendedores";
}
<p>
    <a class="btn btn-info" href="/vendedor/Create">Crear Vendedor</a>
    @using (Html.BeginForm("Index", "vendedor", FormMethod.Get, "Buscar"))
    {<div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Buscar" id="Buscar" name="Buscar">
    </div>
    }
</p>
<div class="col-md-12">
    <div class="widget wlightblue">
        <div class="widget-head">
            <div class="pull-left">Vendedores</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Celular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Nombre + " " + item.Apellido, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!--Responsive-->
        </div><!--Content-->
    </div><!--Widget-->
</div><!--Col12-->
