@model AutoDealer.Models.Gastos

@{
    ViewBag.Title = "AutoDealer - Borrar Gasto";
}

<h3>Esta seguro que desea borrar este Gasto?</h3>
<div class="col-md-12">
    <div class="widget worange">
        <div class="widget-head">
            <div class="pull-left">Borrar Gasto</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TiposDeGastos.Nombre)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TiposDeGastos.Nombre)
                </div>
                <br />
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Precio)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Precio)
                </div>
                <br />
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FechaCreacion)
                </div>
                <br />
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FechaModificacion)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.FechaModificacion)
                </div>
                <br />
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Automovil)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Automovil)
                </div>
                <br />
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PagadoA)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PagadoA)
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn-danger"/> |
        @Html.ActionLink("Volver a la lista completa", "Index")
    </p>
}
