@model AutoDealer.Models.Facturas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Facturas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaModificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personas1.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personas1.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personas.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personas.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NCF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NCF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CostoTraspaso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostoTraspaso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresas.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresas.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
