@model IEnumerable<AutoDealer.Models.Facturas>

@{
    ViewBag.Title = "AutoDealer - Facturas";
}
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.Label("Desde:")
            <input type="text" class="dateinput" name="Desde" id="Desde">
            @Html.Label("Hasta:")
            <input type="text" class="dateinput" name="Hasta">
            <input type="submit" value="Filtrar" id="Filtrar" name="Filtrar" class="btn btn-default">
        }
    </div>
</div>

<div class="col-md-12">
    <div class="widget wred">
        <div class="widget-head">
            <div class="pull-left">Facturas</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table id="FacturasTable" class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaCreacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaModificacion)
                            </th>
                            <th>
                                Vendedor
                            </th>
                            <th>
                                Comprador
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NCF)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostoTraspaso)
                            </th>
                            <th>
                                Empresa
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaModificacion)
                                </td>
                                <td>
                                    <a href="/Persona/Details/@item.Personas1.Id">@item.Personas1.Nombre @item.Personas1.Apellido</a>
                                </td>
                                <td>
                                    <a href="/Persona/Details/@item.Personas.Id">@item.Personas.Nombre @item.Personas.Apellido</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NCF)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CostoTraspaso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Empresas.Nombre)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/Factura/Details/@item.Id" class="btn btn-sm btn-default"><i class="icon-zoom-in"></i></a>
                                        <a href="/Factura/Print/@item.Id" class="btn btn-sm btn-default">Imprimir</a>
                                        <a href="/Factura/Edit/@item.Id" class="btn btn-sm btn-default">Editar</a>
                                        <a href="/Factura/Delete/@item.Id" class="btn btn-sm btn-default">Borrar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

