@model AutoDealer.Models.FacturasDetalles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FacturasDetalles</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Factura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Factura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaModificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comprador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comprador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vendedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendedor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
