@model AutoDealer.Models.Liquidaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Liquidaciones</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetallesDeVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetallesDeVenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaModificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MontoVenta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontoVenta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personas1.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personas1.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personas.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personas.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PagadoCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PagadoCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comision)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comision)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver a lista completa", "Index")
</p>
