@model AutoDealer.Models.Showrooms

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Showrooms</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Empresa, "Empresas")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Empresa", String.Empty)
            @Html.ValidationMessageFor(model => model.Empresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCreacion)
            @Html.ValidationMessageFor(model => model.FechaCreacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaModificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaModificacion)
            @Html.ValidationMessageFor(model => model.FechaModificacion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
