@model AutoDealer.Models.Automoviles

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h3 class="panel-title">
                        Automovil
                    </h3>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="editor-label">
                <b>Empresa</b>
            </div>
            <div class="editor-field">
                <div class="btn-group">
                    <select id="Empresas" name="Empresas" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Showroom)
            </div>
            <div class="editor-field">
                <div class="btn-group">
                    <select id="Showrooms" name="Showrooms" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Year)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.TipoAutomovil)
            </div>
            <div class="editor-field">
                <div class="btn-group">
                    <select id="Fabricantes" name="Fabricantes" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
                </div>
                <div class="btn-group">
                    <select id="Modelos" name="Modelos" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <option>Modelo</option>
                    </select>
                </div>
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a lista completa", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Automovil/EmpresasList", function (data) {
                var items = "<option></option>";
                $.each(data, function (i, empresa) {
                    items += "<option value='" + empresa.Value + "'>" + empresa.Text + "</option>";
                });
                $("#Empresas").html(items);
            });

            $("#Empresas").change(function () {
                $.getJSON("/Automovil/ShowroomsList/" + $("#Empresas > option:selected").attr("value"), function (data) {
                    var items = "<option></option>";
                    $.each(data, function (i, modelo) {
                        items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                    });
                    $("#Showrooms").html(items);
                });
            });

            $(function () {
                $.getJSON("/Automovil/FabricantesList", function (data) {
                    var items = "<option>Fabricante</option>";
                    $.each(data, function (i, fabricante) {
                        items += "<option value='" + fabricante.Value + "'>" + fabricante.Text + "</option>";
                    });
                    $("#Fabricantes").html(items);
                });

                $("#Fabricantes").change(function () {
                    $.getJSON("/Automovil/ModelosList/" + $("#Fabricantes > option:selected").attr("value"), function (data) {
                        var items = "<option>Modelo</option>";
                        $.each(data, function (i, modelo) {
                            items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                        });
                        $("#Modelos").html(items);
                    });
                });
            })
        })
    </script>
}
