@model AutoDealer.Models.Automoviles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Automoviles</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suplidor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suplidor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Liquidaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Liquidaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Factura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Factura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Showroom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Showroom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaModificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaModificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaEntrada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaEntrada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaSalida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaSalida)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoAutomovil)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoAutomovil)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
