@model IEnumerable<AutoDealer.Models.Automoviles>

@{
    ViewBag.Title = "Inicio";
}

<p>
    <a class="btn btn-info" href="/Automovil/Create">Crear Automovil</a>

    <!--Options List-->
    @using (Html.BeginForm())
    {
        <div class="btn-group">
            <select id="Fabricantes" name="Fabricantes" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
        </div>
        <div class="btn-group">
            <select id="Modelos" name="Modelos" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option>Modelo</option>
            </select>
        </div>
        <input type="submit" value="Buscar" id="Buscar" name="Buscar" class="btn btn-default">
    }
</p>

<div class="col-md-12">
    <div class="widget wlightblue">
        <div class="widget-head">
            <div class="pull-left">Automoviles</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="panel-title">Automovil</h3>

                            </th>
                            <th>
                                <h3 class="panel-title">Año</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Suplidor)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Showroom)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">Entrada</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Factura)</h3>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.TiposAutomoviles.Fabricantes.Nombre + " " + item.TiposAutomoviles.Modelos.Nombre, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @item.Year.ToString("yyyy")
                                </td>
                                <td>
                                    @AutoDealer.Models.Personas.GetPersonaNombre(item.Suplidor)
                                </td>
                                <td>
                                    @item.Showrooms.Nombre
                                </td>

                                <td>
                                    @item.FechaEntrada.ToShortDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Factura)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="Factura/Create" class="btn btn-sm btn-default">F</a>
                                        @if (AutoDealer.Models.Gastos.TieneGastos(item.Id) == true)
                                        {
                                            <a href="/Gasto?AutomovilId=@item.Id" class="btn btn-sm btn-info">G</a>
                                        }
                                        else
                                        {
                                            <a href="Gasto/Create?AutomovilId=@item.Id" class="btn btn-sm btn-default">G</a>
                                        }

                                        <a href="Automovil/Edit/@item.Id" class="btn btn-sm btn-default"><i class="icon-pencil"></i></a>
                                        <a href="Automovil/Delete/@item.Id" class="btn btn-sm btn-default"><i class="icon-remove"></i> </a>

                                    </div>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <!-- Bar Chart -->
    <div class="widget wlightblue">

        <div class="widget-head">
            <div class="pull-left">Tendencia de Ventas</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="widget-content">
            <div class="padd">
                <!-- Barchart. jQuery Flot plugin used. -->
                <div id="bar-chart"></div>

                <hr />

                <!--Bar chart stuffs -->
                <div class="btn-group stackControls">
                    <input type="button" value="With stacking" class="btn">
                    <input type="button" value="Without stacking" class="btn">
                </div>

            </div>
        </div>

    </div>
    <!-- Bar chart ends -->

</div>
<!--Codigo para los filtros por Fabricante y modelo-->
@section scripts {



    <script type="text/javascript">
        $(function () {
            $.getJSON("/Automovil/FabricantesList", function (data) {
                var items = "<option>Fabricante</option>";
                $.each(data, function (i, fabricante) {
                    items += "<option value='" + fabricante.Value + "'>" + fabricante.Text + "</option>";
                });
                $("#Fabricantes").html(items);
            });

            $("#Fabricantes").change(function () {
                $.getJSON("/Automovil/ModelosList/" + $("#Fabricantes > option:selected").attr("value"), function (data) {
                    var items = "<option>Modelo</option>";
                    $.each(data, function (i, modelo) {
                        items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                    });
                    $("#Modelos").html(items);
                });
            });

            $("#Modelos").change(function () {

                var url = "/Automovil/GetTipoAutomovil";
                $.get(url, null, function (data) {
                    $("#getTipoAutomovil").html(data);
                });
            })
        })


    </script>

    <script type="text/javascript">
        $(function () {

            /* Bar Chart starts */

            var d1 = [];
            for (var i = 0; i <= 30; i += 1)
                d1.push([i, parseInt(Math.random() * 30)]);

            var d2 = [];
            for (var i = 0; i <= 30; i += 1)
                d2.push([i, parseInt(Math.random() * 30)]);


            var stack = 0, bars = true, lines = false, steps = false;

            function plotWithOptions() {
                $.plot($("#bar-chart"), [d1, d2], {
                    series: {
                        stack: stack,
                        lines: { show: lines, fill: true, steps: steps },
                        bars: { show: bars, barWidth: 0.8 }
                    },
                    grid: {
                        borderWidth: 0, hoverable: true, color: "#777"
                    },
                    colors: ["#52b9e9", "#0aa4eb"],
                    bars: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: { colors: [{ opacity: 0.9 }, { opacity: 0.8 }] }
                    }
                });
            }

            plotWithOptions();

            $(".stackControls input").click(function (e) {
                e.preventDefault();
                stack = $(this).val() == "With stacking" ? true : null;
                plotWithOptions();
            });
            $(".graphControls input").click(function (e) {
                e.preventDefault();
                bars = $(this).val().indexOf("Bars") != -1;
                lines = $(this).val().indexOf("Lines") != -1;
                steps = $(this).val().indexOf("steps") != -1;
                plotWithOptions();
            });

            /* Bar chart ends */

        });

    </script>
}
