@model IEnumerable<AutoDealer.Models.Automoviles>

@{
    ViewBag.Title = "Index";
}
<!--Codigo para los filtros por Fabricante y modelo-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Automovil/FabricantesList", function (data) {
                var items = "<option>Fabricante</option>";
                $.each(data, function (i, fabricante) {
                    items += "<option value='" + fabricante.Value + "'>" + fabricante.Text + "</option>";
                });
                $("#Fabricantes").html(items);
            });

            $("#Fabricantes").change(function () {
                $.getJSON("/Automovil/ModelosList/" + $("#Fabricantes > option:selected").attr("value"), function (data) {
                    var items = "<option>Modelo</option>";
                    $.each(data, function (i, modelo) {
                        items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                    });
                    $("#Modelos").html(items);
                });
            });

            $("#Modelos").change(function () {

                var url = "/Automovil/GetTipoAutomovil";
                $.get(url, null, function (data) {
                    $("#getTipoAutomovil").html(data);
                });
            })
        })</script>
}


<h2>Index</h2>

<p>
    <a class="btn btn-primary" href="/Automovil/Create">Crear Automovil</a>

    <!--Options List-->
    @using (Html.BeginForm())
    {
        <div class="btn-group">
            <select id="Fabricantes" name="Fabricantes" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
        </div>
        <div class="btn-group">
            <select id="Modelos" name="Modelos" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option>Modelo</option>
            </select>
        </div>
        <div class="btn btn-default">Buscar</div>
    }
</p>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.TipoAutomovil)</b></h3>
            </div>
            <div class="col-md-1">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Year)</b></h3>
            </div>
            <div class="col-md-2">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Suplidor)</b></h3>
            </div>
            <div class="col-md-2">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Showroom)</b></h3>
            </div>
            <div class="col-md-1">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.FechaEntrada)</b></h3>
            </div>
            <div class="col-md-1">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Factura)</b></h3>
            </div>
            <div class="col-md-2">
                <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Precio)</b></h3>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(item.TiposAutomoviles.Fabricantes.Nombre + " " + item.TiposAutomoviles.Modelos.Nombre, "Details", new { id = item.Id })
                    </div>
                    <div class="col-md-1">
                        @item.Year.ToString("yyyy")
                    </div>
                    <div class="col-md-2">
                        @item.Suplidores.Nombre
                    </div>
                    <div class="col-md-2">
                        @item.Showrooms.Nombre
                    </div>
                    <div class="col-md-1">
                        @item.FechaEntrada.Value.ToShortDateString()
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Factura)
                    </div>
                    <div class="col-md-2">
                        RD @String.Format("{0:c}", item.Precio)
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </div>
                </div>
            </li>
        }
    </ul><!--Listgroup-->
</div><!--Panel-->
