@model IEnumerable<AutoDealer.Models.Automoviles>

@{
    ViewBag.Title = "Index";
}
<!--Codigo para los filtros por Fabricante y modelo-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Automovil/FabricantesList", function (data) {
                var items = "<option>Fabricante</option>";
                $.each(data, function (i, fabricante) {
                    items += "<option value='" + fabricante.Value + "'>" + fabricante.Text + "</option>";
                });
                $("#Fabricantes").html(items);
            });

            $("#Fabricantes").change(function () {
                $.getJSON("/Automovil/ModelosList/" + $("#Fabricantes > option:selected").attr("value"), function (data) {
                    var items = "<option>Modelo</option>";
                    $.each(data, function (i, modelo) {
                        items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                    });
                    $("#Modelos").html(items);
                });
            });

            $("#Modelos").change(function () {

                var url = "/Automovil/GetTipoAutomovil";
                $.get(url, null, function (data) {
                    $("#getTipoAutomovil").html(data);
                });
            })
        })</script>
}


<h2>Index</h2>

<p>
    <a class="btn btn-primary" href="/Automovil/Create">Crear Automovil</a>

    <!--Options List-->
    @using (Html.BeginForm())
    {
        <div class="btn-group">
            <select id="Fabricantes" name="Fabricantes" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
        </div>
        <div class="btn-group">
            <select id="Modelos" name="Modelos" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option>Modelo</option>
            </select>
        </div>
        <div class="btn btn-default">Buscar</div>
    }
</p>

<div class="col-md-12">

    <div class="widget wred">

        <div class="widget-head">
            <div class="pull-left">Tables</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">

            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Age</th>
                        <th>Education</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ashok</td>
                        <td>India</td>
                        <td>23</td>
                        <td>B.Tech</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kumarasamy</td>
                        <td>USA</td>
                        <td>22</td>
                        <td>BE</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Babura</td>
                        <td>UK</td>
                        <td>43</td>
                        <td>PhD</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Ravi Kumar</td>
                        <td>China</td>
                        <td>73</td>
                        <td>PUC</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Santhosh</td>
                        <td>Japan</td>
                        <td>43</td>
                        <td>M.Tech</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="widget-foot">


            <ul class="pagination pull-right">
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>

            <div class="clearfix"></div>

        </div>
    </div>
    </div>

<div class="widget wlightblue">
    <div class="widget-head">
        <div class="pull-left">Tables</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
            <a href="#" class="wclose"><i class="icon-remove"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">

        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.TipoAutomovil)</b></h3>

                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Year)</b></h3>
                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Suplidor)</b></h3>
                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Showroom)</b></h3>
                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.FechaEntrada)</b></h3>
                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Factura)</b></h3>
                    </th>
                    <th>
                        <h3 class="panel-title"><b>@Html.DisplayNameFor(model => model.Precio)</b></h3>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.TiposAutomoviles.Fabricantes.Nombre + " " + item.TiposAutomoviles.Modelos.Nombre, "Details", new { id = item.Id })
                        </td>
                        <td>
                            @item.Year.ToString("yyyy")
                        </td>
                        <td>
                            @item.Suplidores.Nombre
                        </td>
                        <td>
                            @item.Showrooms.Nombre
                        </td>
                        <td>
                            @item.FechaEntrada.Value.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Factura)
                        </td>
                        <td>
                            RD @String.Format("{0:c}", item.Precio)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
