@model IEnumerable<AutoDealer.Models.Automoviles>

@{
    ViewBag.Title = "AutoDealer - Inicio";
}

<p>
    <a class="btn btn-info" href="/Automovil/Create">Crear Automovil</a>

    <!--Options List-->
    @using (Html.BeginForm())
    {
        <div class="btn-group">
            <select id="Fabricantes" name="Fabricantes" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></select>
        </div>
        <div class="btn-group">
            <select id="Modelos" name="Modelos" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option value="0">Modelo</option>
            </select>
        </div>
        <div class="btn-group">
            <select id="Year" name="Year" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option value="0">Año</option>
                @foreach (var item in AutoDealer.Models.Automoviles.GetAllYears())
                {
                    <option value="@item.Year">@item.Year</option>
                }
            </select>
        </div>
        <div class="btn-group">
            <select id="Showrooms" name="Showrooms" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option value="0">Showroom</option>
                @foreach (var item in AutoDealer.Models.Showrooms.GetAllShowrooms())
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
        <input type="submit" value="Buscar" id="Buscar" name="Buscar" class="btn btn-default">
    }
</p>


<div class="col-md-12">
    <div class="widget wlightblue">
        <div class="widget-head">
            <div class="pull-left">Automoviles</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="panel-title">Automovil</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">Año</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Showroom)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Suplidor)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">Precio de Venta</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">Precio minimo</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Costo)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Color)</h3>
                            </th>
                            <th>
                                <h3 class="panel-title">@Html.DisplayNameFor(model => model.Status)</h3>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="/Gasto?AutomovilId=@item.Id">@item.TiposAutomoviles.Fabricantes.Nombre @item.TiposAutomoviles.Modelos.Nombre</a>
                                </td>
                                <td>
                                    @item.Year.ToString("yyyy")
                                </td>
                                <td>
                                    @item.Showrooms.Nombre
                                </td>
                                <td>
                                    @AutoDealer.Models.Personas.GetPersonaNombre(item.Suplidor)
                                </td>
                                <td>
                                    @if (item.PrecioVenta > 0)
                                    {
                                        @String.Format("{0:C}", item.PrecioVenta)
                                    }
                                </td>
                                <td>
                                    @if (item.PrecioMinimo > 0)
                                    {
                                        @String.Format("{0:C}", item.PrecioMinimo);
                                    }
                                </td>
                                <td>
                                    @if (item.Costo > 0)
                                    {
                                        @String.Format("{0:C}", item.Costo);
                                    }
                                </td>
                                <td>
                                    @item.Colores.Nombre
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status1.Nombre)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/Automovil/Edit/@item.Id" class="btn btn-sm btn-default">Editar</a>
                                        <a href="/Factura/Create?AutomovilId=@item.Id" class="btn btn-sm btn-default">Facturar</a>
                                        <a href="/Liquidacion/Create?AutomovilId=@item.Id" class="btn btn-sm btn-default">Liquidar</a>
                                        <a href="/Automovil/Delete/@item.Id" class="btn btn-sm btn-default"><i class="icon-remove"></i></a>
                                        </div>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Codigo para los filtros por Fabricante y modelo-->
@section scripts {



    <script type="text/javascript">
        $(function () {
            $.getJSON("/Automovil/FabricantesList", function (data) {
                var items = "<option>Fabricante</option>";
                $.each(data, function (i, fabricante) {
                    items += "<option value='" + fabricante.Value + "'>" + fabricante.Text + "</option>";
                });
                $("#Fabricantes").html(items);

            });

            $("#Fabricantes").change(function () {
                $.getJSON("/Automovil/ModelosList/" + $("#Fabricantes > option:selected").attr("value"), function (data) {
                    var items = "<option>Modelo</option>";
                    $.each(data, function (i, modelo) {
                        items += "<option value='" + modelo.Value + "'>" + modelo.Text + "</option>";
                    });
                    $("#Modelos").html(items);
                });
            });

            $("#Modelos").change(function () {

                var url = "/Automovil/GetTipoAutomovil";
                $.get(url, null, function (data) {
                    $("#getTipoAutomovil").html(data);
                });
            })
        })
        </script>
}
