@model IEnumerable<AutoDealer.Models.Automoviles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h3 class="panel-title">
                    @Html.DisplayNameFor(model => model.TipoAutomovil)
                </h3>
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Year)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Suplidor)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Showroom)
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Liquidaciones)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Factura)
            </div>
            <div class="col-md-1">
                Test
            </div>
        </div>
    </div>

    <ul class="list-group">
        @foreach (var item in Model)
                {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @item.TiposAutomoviles.Fabricantes.Nombre
                        @item.TiposAutomoviles.Modelos.Nombre
                    </div>
                    <div class="col-md-1">
                        @item.Year.ToString("yyyy")
                    </div>
                    <div class="col-md-2">
                        @item.Suplidores.Nombre
                    </div>
                    <div class="col-md-2">
                        @item.Showrooms.Nombre
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => item.FechaEntrada)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Liquidaciones)
                    </div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Factura)
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
                </li>
                }
        </ul><!--Listgroup-->
    </div><!--Panel-->
