@model AutoDealer.Models.Compradores

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea borrar este Comprador?</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h3 class="panel-title">
                    Compradores
                </h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Nombre)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nombre)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Apellido)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Apellido)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Telefono)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Telefono)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Direccion)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Direccion)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Celular)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Celular)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.Email)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FechaCreacion)
        </div>
        <br />
        <div class="display-label">
            <b>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </b>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FechaModificacion)
        </div>
        <br>
        <input type="submit" value="Delete" class="btn btn-danger" />

    </div>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Volver a lista completa", "Index")
    }
