@model AutoDealer.Models.Compradores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h3 class="panel-title">
                    Compradores
                </h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
            <div class="display-label"><b>
    @Html.DisplayNameFor(model => model.Nombre)
</b></div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>

            <div class="display-label"><b>
                @Html.DisplayNameFor(model => model.Apellido)
            </b></div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Apellido)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.Telefono)
                </b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Telefono)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.Direccion)
                </b>
            </div>
            <div class="display-field">
                    @Html.DisplayFor(model => model.Direccion)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.Celular)
                </b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Celular)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.Email)
                </b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaCreacion)
            </div>

            <div class="display-label">
                <b>
                    @Html.DisplayNameFor(model => model.FechaModificacion)
                </b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaModificacion)
            </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
